<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="{{$index}}" ng-repeat="ca in carousels" ng-class="{'active':$first}"></li>
  
  </ol>

  <div class="carousel-inner" role="listbox"  >
    <a ng-href="{{carousel.href}}" class="item" ng-repeat="carousel in carousels" ng-class="{'active':$index==0}" title="{{carousel.title}}">
      <!-- <img src="images/glyphicons-halflings.png"> -->
      <img ng-src="{{carousel.src}}" alt="{{carousel.alt}}">
      <!-- <img src="http://dummyimage.com/1920x360/894FC4/FFF.png&text=!" alt="{{ca.alt}}"> -->
      <!-- <div class="carousel-caption">
        ...
      </div> -->
    </a>
  </div>


  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<script type="text/javascript">
  // 如需自动播放 且当上面 H5 【data-ride="carousel"】自动播放属性不生效时 应打开下面注释 让其自动播放;
  // $('.carousel').carousel();

</script>